<html>
  <head>
    <title>Stanford's drop in humanities</title>
  </head>
  <body>
    <div>
      From this article: <a href="http://www.nytimes.com/2013/10/31/education/as-interest-fades-in-the-humanities-colleges-worry.html">http://www.nytimes.com/2013/10/31/education/as-interest-fades-in-the-humanities-colleges-worry.html</a>
    </div>
    </div>
      Exploring this quote: "Some 45 percent of the faculty members in Stanford’s main undergraduate division are clustered in the humanities — but only 15 percent of the students."
    </div>

    <div>

    </div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      d3.select("body").append("p").text("New paragraph!");
    </script>
  </body>
</html>
